<%= link_to 'Profile', profile_path(current_user), class:'btn btn-primary' %>

<%= @freelancers %>

<% @freelancers.each do |freelancer| %>

  <% if freelancer.user_id != current_user.id%>
    <div>
      <h3><%=freelancer.user.name%></h3>
      <p><%=freelancer.profession%><p>
      <%= link_to "view freelancer's profile", profile_path(freelancer.id), class:'btn btn-primary'%>
    </div>
  <% end %>
<%end%>
