
<p> render nav bar </p>
<p> render search bar</p>

<br><br><br>
<h1><%= @freelancer.user.name %>'s Profile</h1>
<div class="container-full">



<div class="container">
<div>
  <%= cl_image_tag(@freelancer.picture,
        :width => 400, :height => 400,
        :crop => :fill, :gravity => :face)
        %>
</div>
<br>
<h3>Profession: <%= @freelancer.profession %></h3>
<h3>Description: <%= @freelancer.description %></h3>
<h3>Price ranges from <%= @freelancer.price_start %> to <%= @freelancer.price_end %></h3>

<% if current_user %>
  <% if Enquiry.where(user_id: current_user[:id], freelancer_id: @freelancer.id) %>
    <%= link_to 'Click here to rate me!', rating_path %>
  <% end %>
<% end %>

<!-- doo some stuff here!!!! -->
<h3>Current Overall Rating</h3>

<%= render partial: 'partials/form_for_ratings', locals: {big_rating: @compiled_rating} %><br>
<%= render partial: 'partials/form_for_3_ratings', locals: {big_rating: @compiled_rating, cool_var: 'hey gurl'} %><br>


</div>
<div class="container2">
<div class="calendar">
<%= month_calendar(partial: 'simple_calendar/month_calendar', events: @occurrences[:dates]) do |date, occurrences| %>
  <%= date.day %>
  <% occurrences.each do |occurrence| %>
  <div>
    Available from <%= @occurrences[:start_time] %> to <%= @occurrences[:end_time] %>
  </div>
  <% end %>
<% end %>


<div class='new_enquiry right'>
  <% if current_user %>
    <%= render 'enquiries/new' %><br>
  <% end %>

</div>
</div>
