<h1>Freelancer's dashboard</h1>
<h3><%= link_to 'edit your profile!', edit_profile_path(@freelancer) %>

<%= cl_image_tag(@freelancer.picture,
      :width => 400, :height => 400,
      :crop => :fill, :gravity => :face)
      %>


<h3>Pending enquires</h3>
<table>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <td><%=enquiry.user_id%></td>
        <td><%=enquiry.description%></td>
        <td><%=enquiry.start_date%></td>
        <td><%=enquiry.end_date%></td>
        <td><%= link_to 'view enquiry', enquiry_path(enquiry.id) %></td>
        <% if enquiry.messages.where('read =? AND sender_id !=?', false , current_user.id).size > 0  %>
          <p>Unread </p>
        <% end %>
      </tr>
    <% end %>
  </table>

<h3>Current Overall Rating</h3>
<%= render partial: 'partials/form_for_ratings', locals: {big_rating: @compiled_rating, cool_var: 'hey gurl'} %>

<h3>Submitted enquiries(My enquiries)</h3>
<% @freelancer.enquiries.where(:user_id == current_user.id).each do |enquiry| %>
  <div>
    <%= enquiry.description %>
    <%= enquiry.start_date.to_time %>
    <%= link_to "Chat with #{enquiry.freelancer.user.name.capitalize}", edit_enquiry_path(enquiry.id)%>
    <% if enquiry.messages.where('read =? AND sender_id !=?', false , current_user.id).size > 0  %>
      <p>Unread </p>
    <% end %>
  </div>
<% end %>



<h2>View Your Schedule</h2>
<h3>Your Work <%= @freelancer.schedule %></h3>
<h3>Edit your profile to change your schedule</h3>
<%= month_calendar(partial: 'simple_calendar/month_calendar', events: @occurrences[:dates] ) do |date, occurrences| %>
  <%= date %>
  <h3>Slot 1 from <%= @occurrences[:start_booked_times] %> to <%= @occurrences[:end_booked_times] %>  </h3>
  <% occurrences.each do |occurrence| %>
  <div>
    Available from <%= @sanitized_start_time %> to <%= @sanitized_end_time %>
  </div>
  <% end %>
<% end %>
