<%= stylesheet_link_tag "user_profile" %>
<h1>Welcome to your Profile, <%= @user.name.capitalize %></h1>
<%= link_to 'edit profile', edit_user_path(@user) %>
<br>
<div class="container">


<div class="image"><%= cl_image_tag(@user.profile_picture,
      :width => 400, :height => 400,
      :crop => :fill, :gravity => :face)
      %></div>
<h1>Upcoming Bookings</h1>

<div>  <table class="table">
    <tr><th>Description</th>
    <th>Start Date and Time</th>
  <th>End date and time</th>
<th>Status</th></tr>
<% @user.enquiries.where(:user_id == current_user.id).each do |enquiry| %>
  <% if enquiry.bookings[0] %>
  <div>
    <%= enquiry.description %>
  </div>
<% end %>
<% end %>
  </table>
</div>


<br>
<br>
<h1>Open Enquiries</h1>
<% if @user.enquiries.where(:user_id == current_user.id).size > 0 %>
  <% @user.enquiries.where(:user_id == current_user.id).each do |enquiry| %>
    <div>
      <%= link_to enquiry.description, enquiry_path(enquiry.id) %>
      <%= link_to "Chat with #{enquiry.freelancer.user.name.capitalize}", edit_enquiry_path(enquiry.id) %>
    </div>
  <% end %>

  <% else %>
    No open enquiry
<% end %>
</div>
