<div class='container'>
  <div class='row'>
    <header class="intro-header">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Handy. The best hands</h1>
            <h1>for your job.</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <!-- Page Header -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            <div class="col-lg-6">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for profession..">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </br>
          </br>
          </h1>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            <div class="col-lg-6">
              <div class="input-group input-group-lg">
                <%= form_tag profile_index_path, method: 'GET' do %>
                <%= text_field_tag :search, params[:search] %>
                <span class="input-group-btn">
                  <div class="btn btn-secondary"><%= submit_tag "Search", name: nil %></div>
                </span>
                <% end %>
              </div>
            </div>
          </br>
        </br>
      </h1>
    </div>
  </div>

      <!-- Projects Row -->
      <div class="row">
        <% @freelancers.each do |freelancer| %>
          <div class="col-md-4 portfolio-item">
            <div>
              <%if !freelancer.picture%>
              <%= cl_image_tag('https://www.soundstream.tv/assets/default_profile-e08597880fc222202f22984a4f1966a29b108e856a3fb935072bfbbc302a4b73.png')%>
              <% else %>
              <%= cl_image_tag(freelancer.picture,
                  :width => 300, :height => 300,
                  :crop => :crop, :gravity => :face, :radius => 'max')
                  %>
              <% end %>
              <h3><a href="<%= profile_path(freelancer.id) %>"><%= freelancer.user.name.capitalize %></a></h3>
              <p><%=freelancer.profession%></p>
              <span><%= render partial: 'partials/form_for_ratings', locals: {big_rating: @compiled_rating, disabled: true, cool_var: 'hey'} %></span>

            </div>
          </div>
        <% end %>
        </div>
      </div>
    <!-- /.row -->
  </div>
</div>
