<div class='container'>
  <div class='row'>
    <header class="intro-header">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="site-heading">
            <h1>Handy. The best hands</h1>
            <h1>for your job.</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <!-- Page Header -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            <div class="col-lg-6">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search for profession..">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </br>
          </br>
          </h1>
        </div>
      </div>
      <!-- /.row -->
      <%= form_tag profile_index_path, method: 'GET' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>
      <!-- Projects Row -->
      <div class="row">
        <% @freelancers.each do |freelancer| %>
          <div class="col-md-4 portfolio-item">
            <div>
              <%= link_to profile_path(freelancer.id) do%>
                <%= cl_image_tag(freelancer.picture,
                    :width => 700, :height => 400,
                    :crop => :fill, :gravity => :face,
                    :class => 'img-responsive')
                    %>
              <% end %>
              <h3><a href="<%= profile_path(freelancer.id) %>">Project Name</a></h3>
              <p><%=freelancer.profession%></p>
              <span><%= render partial: 'partials/form_for_ratings', locals: {big_rating: @compiled_rating, disabled: true, cool_var: 'hey'} %></span>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    <!-- /.row -->
  </div>
</div>
