<% if !!Freelancer.find_by(user_id: current_user[:id]) %>
  <h1>Freelancer's dashboard</h1>
  <h3><%= link_to 'edit your profile!', edit_profile_path(@freelancer) %>
  <h3>Pending enquires</h3>

  <table>
    <tr>
      <% @enquiries.each do |enquiry| %>
      <td><%=enquiry.user_id%></td>
      <td><%=enquiry.description%></td>
      <td><%=enquiry.start_date%></td>
      <td><%=enquiry.end_date%></td>
      <% end %>
    </tr>
  </table>

  <h2>View Your Schedule</h2>
  <h3>You Work <%= @freelancer.schedule %></h3>
  <h3>Edit your profile to change your schedule</h3>
  <%= month_calendar(partial: 'simple_calendar/month_calendar', events: @occurrences) do |date, occurrences| %>
    <%= date %>
    <% occurrences.each do |occurrence| %>
    <div>
      Available from <%= @sanitized_start_time %> to <%= @sanitized_end_time %>
    </div>
    <% end %>
  <% end %>

<% else %>
  <h1>hello world</h1>
  <h3>name: <%= @freelancer.user.name %></h3>
  <h3>profession: <%= @freelancer.profession %></h3>
  <h3>description: <%= @freelancer.description %></h3>
  <h3>picture: <%= @freelancer.picture %></h3>
  <h3>price range from <%= @freelancer.price_start %> to <%= @freelancer.price_end %></h3>
  <%= link_to 'Click here to rate me!', rating_path %>

  <h3>Current Overall Rating</h3>
  <!-- do some algo magic here -->
  <%= render partial: 'partials/form_for_ratings', locals: {big_rating: @compiled_rating, cool_var: 'hey gurl'} %><br>
  <br>

  <%= month_calendar(partial: 'simple_calendar/month_calendar', events: @occurrences) do |date, occurrences| %>
    <%= date %>
    <% occurrences.each do |occurrence| %>
    <div>
      Available from <%= @sanitized_start_time %> to <%= @sanitized_end_time %>
    </div>
    <% end %>
  <% end %>

<% end %>
