<h1>Freelancer's dashboard</h1>
<h3><%= link_to 'edit your profile!', edit_profile_path(@freelancer) %>
<h3>Pending enquires</h3>
<h3><%= @freelancer.schedule %></h3>

<table>
  <tr>
    <% @enquiries.each do |enquiry| %>
    <td><%=enquiry.user_id%></td>
    <td><%=enquiry.description%></td>
    <td><%=enquiry.start_date%></td>
    <td><%=enquiry.end_date%></td>
    <% end %>
  </tr>
</table>

<h3>View Your Schedule</h3>
<h3><%= @freelancer.schedule.start_time %></h3>
<%= month_calendar(partial: 'simple_calendar/month_calendar') do |date| %>
  <%= date %>
  <div>1</div>
<% end %>
