<h1>Edit Enquiry</h1>

<%= form_for(@enquiry, :html=>{:remote => true})do |f| %>
<% if @enquiry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>
    <ul>
      <% @enquiry.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>
<br>
<br>
<div class="field">
  <%= f.label :start_date %>
  <%= f.datetime_field :start_date %>
</div>
<br>
<br>
<div class="field">
  <%= f.label :end_date %>
  <%= f.datetime_field :end_date %>
</div>
<br>
<br>
<div class="field">
  <%= f.label :price %>
  <%= f.number_field :price %>
</div>
<br>
<br>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>


<div id='messages'>
  <%= render 'messages/message'%>
</div>

<form class="new_message" data-behavior="enquiry_speaker">
  <input name="enquiry_id" type="hidden" value="<%= @enquiry.id %>">
  <input name="sender_id" type="hidden" value="<%= current_user.id %>">
  <textarea name="content" class="form-control" ></textarea>
  <!-- <input type="submit" class="btn btn-success" value="Send"> -->
</form>
