<h1>Enquiry Index</h1>

<table>
  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr>
        <% for freelancer in @freelancers %>
        <% if freelancer.id == enquiry.freelancer_id %>
        <td><%= freelancer.profession %></td>
        <% end %>
        <% end %>
        <td><%= enquiry.freelancer_id %></td>
        <td><%= enquiry.description %></td>
        <td><%= enquiry.start_date %></td>
        <td><%= enquiry.end_date %></td>
        <td><%= link_to 'Show', enquiry %></td>
        <td><%= link_to 'Edit', edit_enquiry_path(enquiry) %></td>
        <td><%= link_to 'Destroy', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
