<h1>Enquiry</h1>

<table>
  <tr>

    <td><%=@enquiry.description%></td>

    <td><%=@enquiry.start_date%></td>
    <td><%=@enquiry.end_date%></td>

  </tr>
</table>


<h1>Messages</h1>
<div class='messages'>
  <% @enquiry.messages.each do |message| %>
    <div><%= message.content%></div>
  <%end%>
</div>

<%= form_for :message, url:enquiry_messages_path(@enquiry.id) do |f| %>
  <%= f.text_field :content %>
  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.submit "Send" %>
<% end %>
